<div class="modal-header">
  <h4 class="modal-title">仓库管理</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal form-validation" name="dataForm">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group has-feedback">
          <label class="col-lg-4 control-label text-sm">仓库名称</label>
          <div class="col-lg-8">
            <input type="text" class="form-control input-sm" name="houseName" placeholder="仓库名称" ng-model="fm.treeBranch.houseName" required>
            <span class="fa fa-exclamation-circle form-control-feedback" ng-show="dataForm.houseName.$error.required"></span>
            <div ng-messages="dataForm.houseName.$dirty && dataForm.houseName.$error">
              <p class="help-block text-sm" ng-message = "required">请填写仓库名称</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group has-feedback">
          <label class="col-lg-4 control-label text-sm">仓库地址</label>
          <div class="col-lg-8">
            <input type="text" class="form-control input-sm" name="address" placeholder="仓库地址" ng-model="fm.treeBranch.address" required>
            <span class="fa fa-exclamation-circle form-control-feedback" ng-show="dataForm.address.$error.required"></span>
            <div ng-messages="dataForm.address.$dirty && dataForm.address.$error">
              <p class="help-block text-sm" ng-message = "required">请填写仓库地址</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="col-lg-4 control-label text-sm">负责人</label>
          <div class="col-lg-8">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" name="linkManName" placeholder="负责人" ng-model="fm.treeBranch.linkManName" readonly required>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="fm.openModal()"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="col-lg-4 control-label text-sm">负责人电话</label>
          <div class="col-lg-8">
            <input type="text" class="form-control input-sm" placeholder="负责人电话" ng-model="fm.treeBranch.tel" readonly>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-sm" ng-click="fm.ok()" ng-disabled="dataForm.$invalid">确定</button>
  <button type="button" class="btn btn-default btn-sm" ng-click="fm.cancel()">取消</button>
</div>
