<div class="modal-header" ng-switch="fm.modalType">
  <h4 class="modal-title" ng-switch-when="add">新增</h4>
  <h4 class="modal-title" ng-switch-when="edit">修改</h4>
  <h4 class="modal-title" ng-switch-when="view">查看详情</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal form-validation" name="dataForm">
    <fieldset ng-disabled="fm.formDisabled">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group has-feedback">
            <label class="col-lg-4 control-label text-sm">材料分组名称</label>
            <div class="col-lg-8">
              <input type="text" class="form-control input-sm" name="groupName" placeholder="材料分组名称" ng-model="fm.rowEntity.groupName" required>
              <span class="fa fa-exclamation-circle form-control-feedback" ng-show="dataForm.groupName.$error.required"></span>
              <div ng-messages="dataForm.groupName.$dirty && dataForm.groupName.$error">
                <p class="help-block text-sm" ng-message = "required">请填写材料分组名称</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="col-lg-4 control-label text-sm">种质用途分类</label>
            <div class="col-lg-8">
              <select class="form-control input-sm" name="useType" ng-options="o.code as o.message for o in fm.useTypeData" ng-model="fm.rowEntity.useType" required>
                <option value="">请选择</option>
              </select>
              <div ng-messages="dataForm.useType.$dirty && dataForm.useType.$error">
                <p class="help-block text-sm" ng-message="required">请选择种质用途分类</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group has-feedback">
            <label class="col-lg-4 control-label text-sm">材料分组年份</label>
            <div class="col-lg-8">
              <input type="text" class="form-control input-sm" name="groupYear" placeholder="材料分组年份" ng-model="fm.rowEntity.groupYear" required>
              <span class="fa fa-exclamation-circle form-control-feedback" ng-show="dataForm.groupYear.$error.required"></span>
              <div ng-messages="dataForm.groupYear.$dirty && dataForm.groupYear.$error">
                <p class="help-block text-sm" ng-message = "required">请填写材料分组年份</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="col-lg-4 control-label text-sm">描述</label>
            <div class="col-lg-8">
              <input type="text" class="form-control input-sm" name="remark" placeholder="描述" ng-model="fm.rowEntity.remark">
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-sm" ng-click="fm.ok()" ng-hide="fm.formDisabled" ng-disabled="dataForm.$invalid">确定</button>
  <button type="button" class="btn btn-info btn-sm" ng-click="fm.edit()" ng-show="fm.formDisabled">编辑</button>
  <button type="button" class="btn btn-default btn-sm" ng-click="fm.cancel()">取消</button>
</div>
