<div class="modal-header" ng-switch="pop.modalType">
    <h4 class="modal-title" ng-switch-when="wdadd">稳定材料出库申请单</h4>
    <h4 class="modal-title" ng-switch-when="zjadd">中间材料出库申请单</h4>
    <h4 class="modal-title" ng-switch-when="pzzhadd">品种组合出库申请单</h4>
    <h4 class="modal-title" ng-switch-when="edit">修改出库申请单</h4>
</div>
<div class="modal-body" >
    <form class="form-horizontal" name="dataForm">
        <fieldset ng-disabled="pop.formDisabled">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="col-sm-6 control-label text-sm">出库单类型</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control input-sm" name="tie" placeholder="出库单类型" ng-model="pop.rowEntity.outstockType" readonly>
                            <span class="fa fa-exclamation-circle form-control-feedback" ng-show="dataForm.tie.$error.required"></span>
                            <div ng-messages="dataForm.tie.$dirty && dataForm.tie.$error">
                                <p class="help-block text-sm" ng-message="required">出库单类型</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="form-group ">
                      <label class="control-label text-sm col-sm-6" >创建时间</label>
                      <div class="col-sm-6">
                        <div class="input-group input-group-sm">
                          <input type="text" class="form-control"  ng-model="pop.rowEntity.outstockTime" uib-datepicker-popup="yyyy-MM-dd" is-open="sm.search.startTimeOpen" current-text="今天" clear-text="清除" close-text="关闭" readonly>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="sm.search.startTimeOpen = true"><i class="fa fa-calendar"></i></button>
                          </span>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-6 control-label text-sm">材料一级分类</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control input-sm" name="name" placeholder="材料一级分类" ng-model="pop.rowEntity.firstClassify" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-6 control-label text-sm">材料二级分类</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control input-sm" name="name" placeholder="材料二级分类" ng-model="pop.rowEntity.secondClassify" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="col-sm-6 control-label text-sm">仓库</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control input-sm" name="stocks" placeholder="仓库" ng-model="pop.rowEntity.storage">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="col-sm-6 control-label text-sm">库房</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control input-sm" name="address" placeholder="库房" ng-model="pop.rowEntity.storageRoom">
                        </div>
                    </div>
                </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="form-group">
                      <label class="col-lg-6 control-label text-sm">出库用途</label>
                      <div class="col-lg-6">
                         <input type="text" class="form-control input-sm"  ng-model="pop.rowEntity.outstockApplicator" >
                      </div>
                  </div>
              </div>
            </div>

            <div class="row">
                <div class="col-sm-12 btn-group">
                    <button type="button" class="btn btn-primary btn-sm" ng-click="opop.openModal('view')" ng-disabled="gm.disableDelete"><i class="fa fa-file-text"></i> 下载模板</button>
                    <button type="button" class="btn btn-warning btn-sm" ng-click="pop.openDetail('view')" ng-disabled="gm.disableDelete"><i class="fa fa-download"></i>导入</button>
                </div>
            </div>
            <!-- grid
            <div class="m-t-md">
                <div class="pos-rlt" ui-grid="pop.grid" ui-grid-edit ui-grid-cellNav ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize ></div>
            </div>-->

            <!-- 育种材料的稳定材料 -->
            <div class="m-t-md" style="overflow:scroll; overflow-x:scroll;overflow-y:scroll; height:
            300px;" ng-show="pop.wdshow">
                <table class="table table-hover table-bordered ">
                  <thead>
                    <tr>
                      <th style="width:60px">操作</th>
                      <th>材料编码</th>
                      <th>材料名称</th>
                      <th>母本名称</th>
                      <th>父本名称</th>
                      <th>出库单位</th>
                      <th>出库数量</th>
                      <th>库存数量</th>
                      <th>最小库存</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-sm" ng-repeat="x in pop.rowEntity.wd" >
                      <td>
                        <div class="btn-group">
                          <!-- <button type="button" class="btn btn-sm btn-info" style="width:30px;" ng-show="!x.editable" ng-click="pop.eidtRow(x)"><i class="fa fa-pencil"></i></button>
                          <button type="button" class="btn btn-sm btn-primary" style="width:30px;" ng-hide="!x.editable" ng-click="pop.eidtRow(x)"><i class="fa fa-h-square"></i></button> -->
                          <button type="button" class="btn btn-sm btn-danger" style="width:30px;" ng-click="pop.delRow(x)">x</button>
                        </div>
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="x.breedCode"  ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="x.breedName"  ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="x.motherCode"  ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="x.fatherCode"  ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <select class="form-control input-sm w-xs" ng-model="x.unit">
                          <option value="">请选择</option>
                          <option value="g">g</option>
                          <option value="粒">粒</option>
                        </select>
                        <!-- <input type="text" class="form-control input-sm w-xs" ng-model="x.unit" ng-disabled="!x.editable" ng-keydown="pop.nextfocus($event)"> -->
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="x.outStockCount"  ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="x.storageCount" readonly ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="x.minStorage" readonly ng-keydown="pop.firstfocus($event)">
                      </td>
                    </tr>
                    <tr class="text-sm" >
                      <td>
                          <button type="button" class="btn btn-sm btn-success" style="width:30px;" ng-click="pop.addRow()">+</button>
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="pop.wd.breedCode" ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="pop.wd.breedName" ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="pop.wd.motherCode" ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="pop.wd.fatherCode" ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <select class="form-control input-sm w-xs" ng-model="pop.wd.unit">
                          <option value="">请选择</option>
                          <option value="g">g</option>
                          <option value="粒">粒</option>
                        </select>
                        <!-- <input type="text" class="form-control input-sm w-xs" ng-model="pop.wd.unit" ng-keydown="pop.nextfocus($event)"> -->
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="pop.wd.outStockCount" ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="pop.wd.storageCount" readonly ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="pop.wd.minStorage" readonly ng-keydown="pop.firstfocus($event)">
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>

            <!-- 育种材料的中间材料 -->
            <div class="m-t-md" style="overflow:scroll; overflow-x:scroll;overflow-y:scroll; height:
            300px;" ng-show="pop.zjshow">
                <table class="table table-hover table-bordered " >
                  <thead>
                    <tr>
                      <th style="width:60px">操作</th>
                      <th>材料编码</th>
                      <th>材料名称</th>
                      <th>母本名称</th>
                      <th>父本名称</th>
                      <th>世代号</th>
                      <th>株号</th>
                      <th>出库单位</th>
                      <th>出库数量</th>
                      <th>库存数量</th>
                      <th>最小库存</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-sm" ng-repeat="x in pop.rowEntity.zj" >
                      <td>
                        <div class="btn-group">
                          <!-- <button type="button" class="btn btn-sm btn-info" style="width:30px;" ng-show="!x.editable" ng-click="pop.eidtRow(x)"><i class="fa fa-pencil"></i></button>
                          <button type="button" class="btn btn-sm btn-primary" style="width:30px;" ng-hide="!x.editable" ng-click="pop.eidtRow(x)"><i class="fa fa-h-square"></i></button> -->
                          <button type="button" class="btn btn-sm btn-danger" style="width:30px;" ng-click="pop.delRow(x)">x</button>
                        </div>
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="x.breedCode"  ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="x.breedName"  ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="x.motherCode"  ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="x.fatherCode"  ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="x.generationNum"  ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="x.plantNum"  ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <select class="form-control input-sm w-xs" ng-model="x.unit">
                        <option value="">请选择</option>
                        <option value="g">g</option>
                        <option value="粒">粒</option>
                      </select>
                        <!-- <input type="text" class="form-control input-sm w-xs" ng-model="x.unit" ng-disabled="!x.editable" ng-keydown="pop.nextfocus($event)"> -->
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="x.outStockCount"  ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="x.storageCount" readonly ng-keydown="pop.nextfocus($event)">
                      </td>

                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="x.minStorage" readonly ng-keydown="pop.firstfocus($event)">
                      </td>

                    </tr>
                    <tr class="text-sm" >
                      <td>
                          <button type="button" class="btn btn-sm btn-success" style="width:60px;" ng-click="pop.addRow()">+</button>
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="pop.zj.breedCode" ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="pop.zj.breedName" ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="pop.zj.motherCode" ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="pop.zj.fatherCode" ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="pop.zj.generationNum" ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="pop.zj.plantNum" ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <select class="form-control input-sm w-xs" ng-model="pop.zj.unit">
                        <option value="">请选择</option>
                        <option value="g">g</option>
                        <option value="粒">粒</option>
                      </select>
                        <!-- <input type="text" class="form-control input-sm w-xs" ng-model="pop.zj.unit" ng-keydown="pop.nextfocus($event)"> -->
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="pop.zj.outStockCount" ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="pop.zj.storageCount" readonly ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="pop.zj.minStorage" readonly ng-keydown="pop.firstfocus($event)">
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>

            <!-- 品种组合-->
            <div class="m-t-md" style="overflow:scroll; overflow-x:scroll;overflow-y:scroll; height:
            300px;"  ng-show="pop.pzzhshow">
                <table class="table table-hover table-bordered " >
                  <thead>
                    <tr>
                      <th style="width:60px">操作</th>
                      <th>品种编码</th>
                      <th>品种名称</th>
                      <th>母本名称</th>
                      <th>父本名称</th>
                      <th>出库单位</th>
                      <th>出库数量</th>
                      <th>库存数量</th>
                      <th>最小库存</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-sm" ng-repeat="x in pop.rowEntity.pzzh" >
                      <td>
                        <div class="btn-group">
                          <!-- <button type="button" class="btn btn-sm btn-info" style="width:30px;" ng-show="!x.editable" ng-click="pop.eidtRow(x)"><i class="fa fa-pencil"></i></button>
                          <button type="button" class="btn btn-sm btn-primary" style="width:30px;" ng-hide="!x.editable" ng-click="pop.eidtRow(x)"><i class="fa fa-h-square"></i></button> -->
                          <button type="button" class="btn btn-sm btn-danger" style="width:30px;" ng-click="pop.delRow(x)">x</button>
                        </div>
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="x.breedCode"  ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="x.breedName"  ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="x.motherCode"  ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="x.fatherCode"  ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <select class="form-control input-sm w-xs" ng-model="x.unit">
                        <option value="">请选择</option>
                        <option value="g">g</option>
                        <option value="粒">粒</option>
                      </select>
                        <!-- <input type="text" class="form-control input-sm w-xs" ng-model="x.unit" ng-disabled="!x.editable" ng-keydown="pop.nextfocus($event)"> -->
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="x.outStockCount"  ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="x.storageCount" readonly ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="x.minStorage" readonly ng-keydown="pop.firstfocus($event)">
                      </td>
                    </tr>
                    <tr class="text-sm" >
                      <td>
                          <button type="button" class="btn btn-sm btn-success" style="width:60px;" ng-click="pop.addRow()">+</button>
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="pop.pzzh.breedCode" ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="pop.pzzh.breedName" ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="pop.pzzh.motherCode" ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="pop.pzzh.fatherCode" ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <select class="form-control input-sm w-xs" ng-model="pop.pzzh.unit">
                          <option value="">请选择</option>
                          <option value="g">g</option>
                          <option value="粒">粒</option>
                        </select>
                        <!-- <input type="text" class="form-control input-sm w-xs" ng-model="pop.pzzh.unit" ng-keydown="pop.nextfocus($event)"> -->
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="pop.pzzh.outStockCount" ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="pop.pzzh.storageCount" readonly ng-keydown="pop.nextfocus($event)">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm w-xs" ng-model="pop.pzzh.minStorage" readonly ng-keydown="pop.firstfocus($event)">
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>


        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-sm" ng-click="pop.ok()" ng-hide="pop.formDisabled" ng-disabled="dataForm.$invalid">提交</button>
    <button type="button" class="btn btn-info btn-sm" ng-click="pop.edit()" ng-show="pop.formDisabled" >编辑</button>
    <button type="button" class="btn btn-default btn-sm" ng-click="pop.cancel()">取消</button>
</div>
