<div class="modal-header">
    <h4 class="modal-title">历史淘汰清单</h4>
</div>
<!-- <div class="modal-body">
    <div class="pos-rlt" ui-grid="sq.stockHistoryGrid" ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize ui-grid-pinning></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" ng-click="sq.cancel()">关闭</button>
</div>
 -->
<div class="modal-body">
    <div class="row">
        <!--         <div class="col-lg-5">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>单号</th>
                            <th>货号</th>
                            <th>数量单位</th>
                            <th>申请人</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="i in cb.enteringTable">
                            <td>{{i.varietiesCode}}</td>
                            <td></td>
                            <td>{{i.matterial}}</td>
                            <td>{{i.unit}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->
        <div class="col">
            <!--             <div class="list-group">
    <strong>时间</strong>
    <a ng-repeat="i in ep.teststage" class="list-group-item">{{i.typecodeName}}
                        </a>
</div> -->
            <div class="wrapper bg-light">
                <ul class="timeline timeline-center">
                    <li class="tl-header">
                        <div class="btn btn-success">begin</div>
                    </li>
                    <li class="tl-item tl-left">
                        <div class="tl-wrap b-info">
                            <div class="tl-content panel padder b-a block">
                                <div class="text-lt m-b-sm">2014-10-24</div>
                                <div class="panel-body pull-in b-t b-light">“申请人”入库货号为“货号”“数量单位”单号为“xx”
                                    <span class="arrow right pull-up visible-left"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="tl-item">
                        <div class="tl-wrap b-success">
                            <div class="tl-content panel padder b-a block">
                                <div class="text-lt m-b-sm">2014-10-24</div>
                                <div class="panel-body pull-in b-t b-light">“申请人”入库货号为“货号”“数量单位”单号为“xx”
                                    <span class="arrow left pull-up"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="tl-item tl-left">
                        <div class="tl-wrap b-info">
                            <div class="tl-content panel padder b-a block">
                                <div class="text-lt m-b-sm">2014-10-24</div>
                                <div class="panel-body pull-in b-t b-light">“申请人”入库货号为“货号”“数量单位”单号为“xx”
                                    <span class="arrow right pull-up visible-left"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="tl-item">
                        <div class="tl-wrap b-success">
                            <div class="tl-content panel padder b-a block">
                                <div class="text-lt m-b-sm">2014-10-24</div>
                                <div class="panel-body pull-in b-t b-light">“申请人”入库货号为“货号”“数量单位”单号为“xx”
                                    <span class="arrow left pull-up"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="tl-item tl-left">
                        <div class="tl-wrap b-info">
                            <div class="tl-content panel padder b-a block">
                                <div class="text-lt m-b-sm">2014-10-24</div>
                                <div class="panel-body pull-in b-t b-light">“申请人”入库货号为“货号”“数量单位”单号为“xx”
                                    <span class="arrow right pull-up visible-left"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="tl-item">
                        <div class="tl-wrap b-success">
                            <div class="tl-content panel padder b-a block">
                                <div class="text-lt m-b-sm">2014-10-24</div>
                                <div class="panel-body pull-in b-t b-light">“申请人”入库货号为“货号”“数量单位”单号为“xx”
                                    <span class="arrow left pull-up"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="tl-item tl-left">
                        <div class="tl-wrap b-info">
                            <div class="tl-content panel padder b-a block">
                                <div class="text-lt m-b-sm">2014-10-24</div>
                                <div class="panel-body pull-in b-t b-light">“申请人”入库货号为“货号”“数量单位”单号为“xx”
                                    <span class="arrow right pull-up visible-left"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="tl-item">
                        <div class="tl-wrap b-success">
                            <div class="tl-content panel padder b-a block">
                                <div class="text-lt m-b-sm">2014-10-24</div>
                                <div class="panel-body pull-in b-t b-light">“申请人”入库货号为“货号”“数量单位”单号为“xx”
                                    <span class="arrow left pull-up"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="tl-item tl-left">
                        <div class="tl-wrap b-info">
                            <div class="tl-content panel padder b-a block">
                                <div class="text-lt m-b-sm">2014-10-24</div>
                                <div class="panel-body pull-in b-t b-light">“申请人”入库货号为“货号”“数量单位”单号为“xx”
                                    <span class="arrow right pull-up visible-left"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="tl-item">
                        <div class="tl-wrap b-success">
                            <div class="tl-content panel padder b-a block">
                                <div class="text-lt m-b-sm">2014-10-24</div>
                                <div class="panel-body pull-in b-t b-light">“申请人”入库货号为“货号”“数量单位”单号为“xx”
                                    <span class="arrow left pull-up"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="tl-header">
                        <div class="btn btn-icon btn-rounded btn-default"><i class="fa fa-twitter"></i></div>
                    </li>
                </ul>
            </div>
        </div>
        <!--         <div class="col-lg-5">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>单号</th>
                            <th>货号</th>
                            <th>数量单位</th>
                            <th>申请人</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="i in cb.enteringTable">
                            <td>{{i.varietiesCode}}</td>
                            <td></td>
                            <td>{{i.matterial}}</td>
                            <td>{{i.unit}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->
    </div>
</div>
