<toaster-container toaster-options="{'close-button': true, 'tap-to-dibdiss': false, 'toaster-id': 1}"></toaster-container>
<div class="wrapper-md" ng-controller="StockQueryCtrl">
    <div class="panel panel-default">
        <div class="panel-heading  h-s">
            <b>查询条件</b>
        </div>
        <div class="panel-body">
            <div class="form-horizontal ">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 ">
                        <div class="form-group ">
                            <label class="control-label text-sm col-lg-6">仓库类型</label>
                            <div class="col-lg-6">
                                <select class="form-control input-sm" ng-model="sq.search.house" name="selType" ng-options="o.id as o.name for o in sq.house">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 ">
                        <div class="form-group ">
                            <label class="control-label text-sm col-lg-6">品种编号</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control input-sm" ng-model="sq.search.max" placeholder="品种编号">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="form-group">
                            <label class="col-lg-6 control-label text-sm">品种名称</label>
                            <div class="col-lg-6">
                                <input type="text" class=" form-control input-sm" ng-model="sq.search.breedingName" placeholder="品种名称">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 ">
                        <div class="form-group ">
                            <label class="control-label text-sm col-lg-6">母本名称</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control input-sm" ng-model="sq.search.precision" placeholder="母本代号">
                            </div>
                        </div>
                    </div>
                </div>
                <div uib-collapse="sq.isCollapsed" class="row">
                    <div class="col-lg-3 col-sm-6 ">
                        <div class="form-group ">
                            <label class="control-label text-sm col-lg-6">父本名称</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control input-sm" ng-model="sq.search.unit" placeholder="父本代号">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 ">
                        <div class="form-group ">
                            <label class="control-label text-sm col-lg-6">世代号</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control input-sm" ng-model="sq.search.max" placeholder="世代号">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 ">
                        <div class="form-group ">
                            <label class="control-label text-sm col-lg-6">株号</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control input-sm" ng-model="sq.search.max" placeholder="株号">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 ">
                        <div class="form-group ">
                            <label class="control-label text-sm col-lg-6">收获年份</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control input-sm" ng-model="sq.search.max" placeholder="收获年份">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 ">
                        <div class="form-group ">
                            <label class="control-label text-sm col-lg-6">产地</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control input-sm" ng-model="sq.search.max" placeholder="产地">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 ">
                        <div class="form-group ">
                            <label class="control-label text-sm col-lg-6">仓库</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control input-sm" ng-model="sq.search.max" placeholder="仓库">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 ">
                        <div class="form-group ">
                            <label class="control-label text-sm col-lg-6">库房</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control input-sm" ng-model="sq.search.max" placeholder="库房">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 ">
                        <div class="form-group ">
                            <label class="control-label text-sm col-lg-6">货区</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control input-sm" ng-model="sq.search.max" placeholder="货区">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 ">
                        <div class="form-group ">
                            <label class="control-label text-sm col-lg-6">货架</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control input-sm" ng-model="sq.search.max" placeholder="货架">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 ">
                        <div class="form-group ">
                            <label class="control-label text-sm col-lg-6">货柜</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control input-sm" ng-model="sq.search.max" placeholder="货柜">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 ">
                        <div class="form-group ">
                            <label class="control-label text-sm col-lg-6">货号</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control input-sm" ng-model="sq.search.max" placeholder="货号">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 ">
                        <div class="form-group ">
                            <label class="control-label text-sm col-lg-6">二级分类</label>
                            <div class="col-lg-6">
                                <select class="form-control input-sm" ng-model="sq.search.secClass" name="selType" ng-options="o.id as o.name for o in sq.secClass">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 ">
                        <div class="form-group ">
                            <label class="control-label text-sm col-lg-6">材料价值</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control input-sm" ng-model="sq.search.unit" placeholder="材料价值">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 ">
                        <div class="form-group ">
                            <label class="control-label text-sm col-lg-6">育种方法</label>
                            <div class="col-lg-6">
                                <select class="form-control input-sm" ng-model="sq.search.breedMethod" name="selType" ng-options="o.id as o.name for o in sq.breedMethod">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="text-right">
                <button type="button" class="btn btn-default btn-sm m-r-bd" ng-click="sq.search()" autofocus><i class="fa fa-search"></i> 查询</button>
                <button type="button" class="btn btn-default btn-sm m-r-bd" ng-click="sq.reset()"><i class="fa fa-refresh"></i> 重置</button>
                <button type="button" class="btn btn-default btn-sm m-r-bd" ng-click="sq.isCollapsed = !sq.isCollapsed"><i class="fa fa-expand " ng-class="{'fa-expand':sq.isCollapsed, 'fa-compress':!sq.isCollapsed}"></i> 更多</button>
            </div>
        </div>
    </div>
    <div class="m-b-md">
        <div class="btn-group">
            <button type="button" class="btn btn-info btn-sm" ng-click="sq.openDetail('edit')" ng-disabled="sq.disable"><i class="fa fa-pencil"></i> 修改</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="sq.openDetail('view')" ng-disabled="sq.disable"><i class="fa fa-file-text"></i> 查看</button>
            <button type="button" class="btn btn-success btn-sm" ng-click="sq.addObsoleteList()" ng-disabled="sq.disable"><i class="fa fa-plus-circle"></i> 加入淘汰清单</button>
            <button type="button" class="btn btn-warning btn-sm" ng-click="sq.stockHistory()" ng-disabled="sq.disable"><i class="fa fa-file-text"></i> 出入库流水</button>
            <button type="button" class="btn btn-dark btn-sm" ng-click="" ng-disabled="sq.disable"><i class="fa fa-upload"></i> 导出</button>
        </div>
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-info btn-sm" ng-model="sq.radioModel" uib-btn-radio="'sm'"><i class="fa fa-th-list"></i> 缩小</button>
            <button type="button" class="btn btn-info btn-sm" ng-model="sq.radioModel" uib-btn-radio="'lg'"><i class="fa fa-list"></i> 放大</button>
        </div>
    </div>
    <div class="m-b-md">
        <div class="pos-rlt" ng-style="{'height': sq.radioModel == 'sm' ? '381' : '681'}" ui-grid="sq.stockGrid" ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize ui-grid-pinning></div>
    </div>
    <!-- 新增弹出框和修改弹出框 -->
    <script type="text/ng-template" id="stockqueryModal">
        <div ng-include="'modules/germplasm/client/views/stockquery.modal.client.view.html'"></div>
    </script>
    <!-- 出入库历史弹出框 -->
    <script type="text/ng-template" id="stockHistoryModal">
        <div ng-include="'modules/germplasm/client/views/stockhistory.modal.client.view.html'"></div>
    </script>
</div>
