<toaster-container toaster-options="{'close-button': true, 'tap-to-dismiss': false, 'toaster-id': 1}"></toaster-container>
<div class="wrapper-md" ng-controller="UiGridDemoCtrl">
    <div class="panel panel-default">
        <div class="panel-heading font-bold">查询条件</div>
        <div class="panel-body">
            <div class=" form-horizontal">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="form-group">
                            <label class="col-lg-6 control-label text-sm">单位名称</label>
                            <div class="col-lg-6">
                                <input class="form-control input-sm " type="text" name="unitName" ng-model="vm.searchData.unitName" placeholder="单位名称">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="form-group">
                            <label class="col-lg-6 control-label text-sm">单位简写</label>
                            <div class="col-lg-6">
                                <input class="form-control input-sm" type="text" name="unitLogogram" ng-model="vm.searchData.shorthand" placeholder="单位简写">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="text-right">
                <button type="button" class="btn btn-default btn-sm m-r-sm" ng-click="vm.search()"><i class="fa fa-search"></i> 查询</button>
                <button type="button" class="btn btn-default btn-sm m-r-sm" ng-click="vm.reset()"><i class="fa fa-refresh"></i> 重置</button>
                <!-- <button type="button" class="btn btn-default btn-sm m-r-sm" ng-click="ep.isCollapsed = !ep.isCollapsed">更多</button> -->
            </div>
        </div>
    </div>
    <div class="m-b-md">
      <div class="btn-group">
        <button class="btn btn-sm btn-success btn-sm" ng-click="vm.openDetail('add')"><i class="fa fa-plus-circle"></i> 新增</button>
        <button type="button" class="btn btn-info btn-sm" ng-click="vm.openDetail('edit')" ng-disabled="vm.disableDelete"><i class="fa fa-pencil"></i> 修改</button>
        <button class="btn btn-sm btn-danger btn-sm" ng-click="vm.delectCharacter()" ng-disabled="vm.disableDelete"><i class="fa fa-times-circle"></i> 删除</button>
        <button type="button" class="btn btn-primary btn-sm" ng-click="vm.openDetail('view')" ng-disabled="vm.disableDelete"><i class="fa fa-file-text"></i> 查看</button>
      </div>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-info btn-sm" ng-model="vm.radioModel" uib-btn-radio="'sm'"><i class="fa fa-th-list"></i> 缩小</button>
        <button type="button" class="btn btn-info btn-sm" ng-model="vm.radioModel" uib-btn-radio="'lg'"><i class="fa fa-list"></i> 放大</button>
      </div>
    </div>
    <div class="m-b-md">
        <div ui-grid="vm.grid" class="pos-rlt" ng-style="{'height': vm.radioModel == 'sm' ? '364' : '664'}" ui-grid-pagination ui-grid-selection ui-grid-auto-resize ></div>
    </div>
    <!-- 新增功能弹出框 -->
    <script type="text/ng-template" id="addCharacter">
        <div ng-include="'modules/rice/client/views/addcharacter.client.view.html'">
        </div>
    </script>
</div>
