<!-- 操作提示框 -->
<toaster-container toaster-options="{'time-out': 0, 'close-button': true, 'limit': 1, 'tap-to-dismiss': false}"></toaster-container>
<div class="wrapper-md" ng-controller="CharacterClassifyCtrl" ui-jq="sortable" ui-options="{items:'.m-b-md', handle:'.panel-heading', connectWith:'.wrapper-md'}">
    <!-- 搜索框 -->
    <div class="panel panel-default m-b-md">
        <div class="panel-heading font-bold">查询条件</div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="form-group">
                            <lable class="col-lg-6 control-label text-sm">性状分类</lable>
                            <div class="col-lg-6">
                                <input type="text" class="form-control input-sm" placeholder="性状分类" ng-model="vm.searchData.name">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <div class="text-right">
                <button type="button" class="btn btn-default btn-sm m-r-sm" ng-click="vm.search()" autofocus><i class="fa fa-search"></i> 查询</button>
                <button type="button" class="btn btn-default btn-sm m-r-sm" ng-click="vm.reset()"><i class="fa fa-refresh"></i> 重置</button>
            </div>
        </div>
    </div>
    <!-- 搜索框 -->
    <!-- 操作按钮 -->
    <div class="m-b-md">
      <div class="btn-group">
          <button type="button" class="btn btn-success btn-sm" ng-click="vm.openModal('add')"><i class="fa fa-plus-circle"></i> 新增</button>
          <button type="button" class="btn btn-info btn-sm" ng-click="vm.openModal('edit')" ng-disabled="vm.disableDelete"><i class="fa fa-pencil"></i> 修改</button>
          <button type="button" class="btn btn-danger btn-sm" ng-click="vm.deleteDialog()" ng-disabled="vm.disableDelete"><i class="fa fa-times-circle"></i> 删除</button>
          <button type="button" class="btn btn-primary btn-sm" ng-click="vm.openModal('view')" ng-disabled="vm.disableDelete"><i class="fa fa-file-text"></i> 查看</button>
      </div>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-info btn-sm" ng-model="vm.radioModel" uib-btn-radio="'sm'"><i class="fa fa-th-list"></i> 缩小</button>
        <button type="button" class="btn btn-info btn-sm" ng-model="vm.radioModel" uib-btn-radio="'lg'"><i class="fa fa-list"></i> 放大</button>
      </div>
    </div>
    <!-- 操作按钮 -->
    <div class="m-b-md">
        <div class="pos-rlt" ng-style="{'height': vm.radioModel == 'sm' ? '364' : '664'}" ui-grid="vm.gridOptions"  ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize ></div>
    </div>
    <!-- 新增/修改/查看模态框   -->
    <script type="text/ng-template" id="characterClassifyModalCtrl">
        <div ng-include="'modules/rice/client/views/characterclassify.modal.client.view.html'"></div>
    </script>
</div>

