<toaster-container toaster-options="{'close-button': true, 'tap-to-dismiss': false, 'toaster-id': 1}"></toaster-container>
<div class="wrapper-md" ng-controller="ExperimentStageCtrl" ui-jq="sortable" ui-options="{items:'.m-b-md', handle:'.panel-heading', connectWith:'.wrapper-md'}">
  <div class="panel panel-default m-b-md">
    <div class="panel-heading font-bold">查询条件</div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="form-group">
              <label class="col-lg-6 control-label text-sm">试验阶段名称</label>
              <div class="col-lg-6">
                <input type="text" class="form-control input-sm" placeholder="试验阶段名称" ng-model="sm.searchData.name">
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="form-group">
              <label class="col-lg-6 control-label text-sm">试验阶段描述</label>
              <div class="col-lg-6">
                <input type="text" class="form-control input-sm" placeholder="试验阶段描述" ng-model="sm.searchData.remark">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="panel-footer">
      <div class="text-right">
        <button type="button" class="btn btn-default btn-sm m-r-sm" ng-click="sm.search()" autofocus><i class="fa fa-search"></i> 查询</button>
        <button type="button" class="btn btn-default btn-sm m-r-sm" ng-click="sm.reset()"><i class="fa fa-refresh"></i> 重置</button>
      </div>
    </div>
  </div>
  <div class="m-b-md">
    <div class="btn-group">
      <button type="button" class="btn btn-success btn-sm" ng-click="gm.openModal('add')"><i class="fa fa-plus-circle"></i> 新增</button>
      <button type="button" class="btn btn-danger btn-sm" ng-click="gm.deleteDialog()" ng-disabled="gm.disableDelete"><i class="fa fa-times-circle"></i> 删除</button>
    </div>
  </div>
  <div class="m-b-md">
    <div class="pos-rlt" ui-grid="gm.gridOptions" ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize ui-grid-pinning ui-grid-exporter></div>
  </div>
  <script type="text/ng-template" id="experimentStageModal">
    <div ng-include="'modules/rice/client/views/experimentstage.modal.client.view.html'"></div>
  </script>
</div>
