<toaster-container toaster-options="{'close-button': true, 'tap-to-dismiss': false, 'toaster-id': 1}"></toaster-container>
<div class="wrapper-md" ng-controller="ExperimentProjectCtrl">
    <div class="panel panel-default m-b-md">
        <div class="panel-heading font-bold">查询条件</div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="form-group">
                            <lable class="col-lg-6 control-label text-sm">调查项目名称</lable>
                            <div class="col-lg-6">
                                <input type="text" class="form-control input-sm" placeholder="试验项目名称" ng-model="ep.searchData.itemName">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="form-group">
                            <label class="col-lg-6 control-label text-sm">调查项目分类</label>
                            <div class="col-lg-6">
                                <select class="form-control input-sm" ng-options="o.typecode as o.typecodeName for o in ep.experimentTypes" ng-model="ep.searchData.itemClass">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="form-group">
                            <label class="col-lg-6 control-label text-sm">应用的试验阶段</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control input-sm" placeholder="应用的试验阶段" ng-model="ep.searchData.testStageItemRangeStr">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="form-group">
                            <label class="col-lg-6 control-label text-sm">应用试验点类型</label>
                            <div class="col-lg-6">
                                <select class="form-control input-sm" ng-options="o.typecode as o.typecodeName for o in ep.experimentClass" ng-model="ep.searchData.pointType">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" uib-collapse="ep.isCollapsed">
                    <div class="col-lg-3 col-sm-6">
                        <div class="form-group">
                            <lable class="col-lg-6 control-label text-sm">创建年份</lable>
                            <div class="col-lg-6">
                                <input type="text" class="form-control input-sm" placeholder="创建年份" ng-model="ep.searchData.testYear">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="form-group">
                            <lable class="col-lg-6 control-label text-sm">有照片的性状</lable>
                            <div class="col-lg-6">
                                <input type="text" class="form-control input-sm" placeholder="有照片的性状" ng-model="ep.searchData.coverCharactersStr">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <div class="text-right">
                <button type="button" class="btn btn-default btn-sm m-r-sm" ng-click="ep.search()" autofocus><i class="fa fa-search"></i> 查询</button>
                <button type="button" class="btn btn-default btn-sm m-r-sm" ng-click="ep.reset()"><i class="fa fa-refresh"></i> 重置</button>
                <button type="button" class="btn btn-default btn-sm m-r-sm" ng-click="ep.isCollapsed = !ep.isCollapsed"><i class="fa" ng-class="{'fa-expand':ep.isCollapsed, 'fa-compress':!ep.isCollapsed}"></i> 更多</button>
            </div>
        </div>
    </div>
    <div class="m-b-md">
        <div class="btn-group">
            <button type="button" class="btn btn-success btn-sm" ng-click="ep.openDetail('add')"><i class="fa fa-plus-circle"></i> 新增</button>
            <button type="button" class="btn btn-info btn-sm" ng-click="ep.openDetail('edit' ,row )" ng-disabled="ep.gridApi.selection.getSelectedRows().length != 1"><i class="fa fa-pencil"></i> 修改</button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="ep.delete()" ng-disabled="ep.gridApi.selection.getSelectedRows().length != 1"><i class="fa fa-times-circle"></i> 删除</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="ep.openDetail('view',row)" ng-disabled="ep.gridApi.selection.getSelectedRows().length != 1"><i class="fa fa-file-text"></i> 查看</button>
        </div>
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-info btn-sm" ng-model="ep.radioModel" uib-btn-radio="'sm'"><i class="fa fa-th-list"></i> 缩小</button>
            <button type="button" class="btn btn-info btn-sm" ng-model="ep.radioModel" uib-btn-radio="'lg'"><i class="fa fa-list"></i> 放大</button>
        </div>
    </div>
    <div class="m-b-md">
        <div class="pos-rlt" ng-style="{'height': ep.radioModel == 'sm' ? '381' : '681'}" ui-grid="ep.gridOptions" ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize ui-grid-pinning></div>
    </div>
    <script type="text/ng-template" id="epModal">
        <div ng-include="'modules/rice/client/views/experimentproject.modal.client.view.html'"></div>
    </script>
</div>
