<div class="wrapper-md" ng-controller="menuManagerController">
    <div class="col-sm-5 ">
        <span ng-show="doingAsync">...loading...</span>
        <div class="b-a bg-light dk r r-2x">
            <abn-tree tree-data="menu.treeData" tree-control="menu.treeControl" on-select="menu.treeHandler(branch)" expand-level="3" icon-leaf="" icon-expand="fa fa-plus-square" icon-collapse="fa fa-minus-square">
            </abn-tree>
        </div>
    </div>
    <div class="col-sm-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>菜单详情</strong>
            </div>
            <div class="panel-body">
                <form name="form" class="form-validation">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">菜单名称：</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" required ng-model="menu.menuData.name" ng-disabled="menu.menuDisabled" placeholder="必填">
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">顺序：</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" maxlength="8" ng-model="menu.menuData.orderno" ng-disabled="menu.menuDisabled">
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">菜单编码：</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="menu.menuData.code" ng-disabled="menu.menuDisabled">
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">菜单地址：</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="menu.menuData.url" ng-disabled="menu.menuDisabled" placeholder="最上级可不填url，其他级必填">
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">菜单样式：</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="menu.menuData.config" ng-disabled="menu.menuDisabled">
                        </div>
                    </div>
                </form>
            </div>
            <footer class="panel-footer text-right bg-light lter">
                <div ng-show="menu.menuOpera">
                    <button type="submit" class="btn btn-success btn-sm" ng-click="menu.menuAdd()"><i class="fa fa-plus-circle"></i> 新增</button>
                    <button type="submit" class="btn btn-info btn-sm" ng-click="menu.menuEdit()" ng-disabled="menu.menuEditDisabled"><i class="fa fa-pencil"></i> 修改</button>
                    <button type="submit" class="btn btn-danger btn-sm" ng-click="menu.menuDelete()" ng-disabled="menu.menuEditDisabled"><i class="fa fa-times-circle"></i> 删除</button>
                </div>
                <div ng-hide="menu.menuOpera">
                    <button type="submit" class="btn btn-primary btn-sm" ng-click="menu.menuSubmit()" ng-disabled="form.$invalid">
                        确定
                    </button>
                    <button type="submit" class="btn btn-default btn-sm" ng-click="menu.menuCancel()">
                        取消
                    </button>
                </div>
            </footer>
        </div>
    </div>
</div>
